<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Dashboard Manager</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link rel="stylesheet" href="./asset/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="./asset/bootstrap/css/mdb.min.css">
    <link rel="stylesheet" href='./asset/bootstrap/css/addons/datatables.min.css'>
    <link rel="stylesheet" href='./asset/bootstrap/css/addons/datatables-select.min.css'>
    <link rel="stylesheet" href="./asset/css/styles.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>
      .click_dts {
        width: 18%;
      }
      .click_dts:hover,
      .niveau_etp:hover {
        cursor: pointer;
        background: #ebebeb!important;

      }
      .click_dts:active,
      .niveau_etp:active {
        color: red!important;
      }

      .id_ass,
      .id_ref,
      .id_cde,
      .id_cdm,.id_dossier_ {
        display: none;
      }
    </style>
  </head>
  


  <body style="zoom:82%">

    {% if utilisateur[0].nom_poste != "SUPERVISEUR" and utilisateur[0].nom_poste != "PDG" and utilisateur[0].nom_poste != "DIRECTEUR" and utilisateur[0].nom_poste != "MANAGER" and utilisateur[0].nom_poste != "MANAGER D EQUIPE" and utilisateur[0].nom_poste != "REVISEUR" and utilisateur[0].nom_poste != "CHEF D EQUIPE" %}
      <style>
        #gestion_equipe,#click_evolu {
          display:none
        }
      </style>
    {% endif %}

    <div class="wrapper">
      <div class="top_navbar">
        <div class="hamburger">
          <div class="hamburger__inner">
            <div class="one"></div>
            <div class="two"></div>
            <div class="three"></div>
          </div>
        </div>
        <div class="menu" style="background:#3197b7">
          <div class="logo" style="color:#F4F7F6!important">
            

          </div>
          <div class="right_menu">
            <ul>
              <li>
                <i class="fas fa-user"></i>
                <div class="profile_dd"></div>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="main_container">
        <div class="sidebar" style="background:#363737!important">
          <div class="sidebar__inner">
            <a href="?suivi_karlit=suivi">
              <div class="profile">
                <div class="img">
                  <span class="icon">
                    <i class="far fa-user-circle fa-3x"></i>
                  </span>
                </div>
                <div class="profile_info">
                  <p>SuiviDoss</p>
                  <p class="profile_name">KARLIT</p>
                </div>
              </div>
            </a>

            <a href="?suivi_karlit=statistique">
              <div class="profile">
                <div class="img">
                  <span class="icon">
                    <i class="far fa-list-circle fa-3x"></i>
                  </span>
                </div>
                <div class="profile_info">
                  <p>Retour</p>
                  <p class="profile_name">statistique</p>
                </div>
              </div>
            </a>
            <ul>
              <li></li>
              <li>
                <a href="#" id="click_parsup">
                  <i class="fab fa-adn"></i>&nbsp;
                  <span class="title">Par Superviseur</span>
                </a>
              </li>
              <li>
                <a href="#" id="click_parequip">
                  <i class="fab fa-elementor"></i>&nbsp;
                  <span class="title">Par Equipe</span>
                </a>
              </li>
              
              <li>
                <a href="#" id="click_parcdm">
                  <i class="fas fa-chart-pie"></i>&nbsp;
                  <span class="title">Par Cdm</span>
                </a>
              </li>

              <li>
                <a href="#" id="parametrage_cdm">
                  <i class="fas fa-chart-pie"></i>&nbsp;
                  <span class="title">Doss Sem</span>
                </a>
              </li>

              <li>
                <a href="#" id="gestion_equipe">
                  <i class="fas fa-band-aid text-danger"></i>&nbsp;
                  <span class="title">Gestion D'equipe</span>
                </a>
              </li>

              <li>
              <a href="#" id="click_evolu">
                  <i class="fab fa-elementor"></i>&nbsp;
                  <span class="title">Evolut° en mens</span>
                </a>
              </li>
              <!--<li> <a href="#"> <i class="fas fa-border-all"></i>&nbsp; <span class="title">Tables</span> </a> </li>-->
            </ul>
          </div>
        </div>
        <div class="containers" style="background:#5b80863b !important">
          <div class="item">

            <div class="card text-center">
              <div class="card-header">
                CRITÈRES &nbsp;<i style='color:#dc3545' id="optio_critere"></i>
              </div>
              <div class="card-body">
                <div class="container">
                  <div class="row par_sup" style="display:none">
                    <div class="col-md-1">PAYS</div>
                    <div class="col-md-2">
                      <select class="form-control" id="listpaysselect">
                        <option value="1"></option>
                        <option value="2">France</option>
                        <option value="5">Mada</option>
                        <option value="6"></option>
                      </select>
                    </div>
                    <div class="col-md-2">Superviseur</div>
                    <div class="col-md-3 as_sup">
                      <b id="sup">
                        <select class="form-control">
                          <option></option>
                        </select>
                      </b>
                    </div>
                    <div class="col-md-1">Année</div>
                    <div class="col-md-2">
                      <select class="form-control" id="aneselect">
                        <option></option>
                        {% for i in 2013..2025 %}
                          <option value="{{i}}">{{i}}</option>
                        {% endfor %}
                      </select>
                    </div>

                    <div class="col-md-1">
                      <button type="button" class="btn btn-info graphsup">
                        <i class="fas fa-check"></i>
                      </button>
                    </div>

                  </div>

                  <!--- -->

                  <div class="row par_Equipe text-center" style="display:none">

                    {% set page = [
                      'Janvier',
                      'Fevrier',
                      'Mars',
                      'Avril',
                      'Mai',
                      'Juin',
                      'Juillet',
                      'Aout',
                      'Septembre',
                      'Octobre',
                      'Novembre',
                      'Decembre'
                    ] %}
                    <div class="col-md-1">Mois</div>
                    <div class="col-md-2">
                      <select class="form-control" id="select_mm">
                        <option value=""></option>
                        {% for item, index in page %}
                          {% if item < 9 %}
                            <option value="0{{ item + 1 }}">{{index }}</option>
                          {% else %}
                            <option value="{{ item + 1 }}">{{index }}</option>
                          {% endif %}

                        {% endfor %}
                      </select>
                    </div>

                    <div class="col-md-1">Année</div>
                    <div class="col-md-2">
                      <select class="form-control" id="select_aa">
                        <option value=""></option>
                        {% for i in 2013..2025 %}
                          <option value="{{i}}">{{i}}</option>
                        {% endfor %}
                      </select>
                    </div>

                    <div class="col-md-1">
                      <button type="button" class="btn btn-info validgraphsup_all_equipe">
                        <i class="fas fa-check"></i>
                      </button>

                      <button type="button" class="btn btn-primary validgraphsup_parcdm">
                        <i class="fas fa-check"></i>
                      </button>

                    </div>
                  </div>

                  <div class="row par_gestionEquipe text-center" style="display:none">
                    <div class="col-md-1">Manager Fr
                    </div>
                    <div class="col-md-2">
                      <b id="b_manager"></b>
                    </div>

                    <div class="col-md-1">CDM France</div>
                    <div class="col-md-2">
                      <b id="b_manager_cdm">
                        <select class="form-control"></select>
                      </b>
                    </div>

                    <div class="col-md-1"></div>
                    <div class="col-md-2">
                      <input type="checkbox" id="vehicle1" name="vehicle1">
                      <label for="vehicle1" class="text-danger">
                        Hors Ma</label>
                    </div>

                    <div class="col-md-1"></div>

                    <div class="col-md-2">
                      <button type="button" class="btn btn-info " id="reporting_social">
                        <i class="fas fa-check"></i>&nbsp;Valider
                      </button>
                    </div>

                  </div>

                 <div class="row par_evo text-center" style="display:none">
                    <div class="col-md-1">Année
                    </div>
                    <div class="col-md-2">
                    <select class="form-control" id="select_evo">
                    <option></option>
                      {% for row in 2010..2030 %}
                        <option value={{row}}>{{row}}</option>
                      {% endfor %}
                    </select>
                    </div>
            

                  </div>                  

                </div>

              </div>
            </div>
          </div>
          <div class="item pfbref">
            <div class="par_sup" style="display:none">
              <a href="#" class="imprime">
                <i class="fas fa-print"></i>&nbsp;Imprimer</a>
              <div id="chartContainer" style="height: 350px; width: 100%;"></div>
              <hr>
              <div id="chartTeletransmission" style="height: 350px; width: 100%;"></div>
              <hr>
              <div id="chartvalidationedi" style="height: 350px; width: 100%;"></div>
            </div>

            <div class="par_Equipe" style="display:none">
              <a href="#" class="imprime">
                <i class="fas fa-print"></i>&nbsp;Imprimer</a>

              <table class="w3-table w3-border w3-centered w3-hoverable w3-table-all w3-striped w3-animate-top">
                <thead>
                  <tr class="w3-light-grey" id="head_parequipe" style="display:none">
                    <th>Rang</th>
                    <th>Equipe</th>
                    <th>Total Bilan</th>
                    <th>Total Fait</th>
                    <th>Graph</th>
                  </tr>
                  <tr class="w3-dark-grey" id="head_parcdm" style="display:none">
                    <th>Rang</th>
                    <th>Nom</th>
                    <th>Total Fait</th>
                    <th>Graph</th>
                  </tr>
                </thead>
                <tbody id="tbody_parequip"></tbody>
                <tbody id="tbody_parcdm"></tbody>

              </table>
              <div id="chartContainertableau" style="height: 350px; width: 100%;"></div>
            </div>

            <div id="tbody_gestion_equipe" style="display:none">
              <a href="#" id="lance_detail_sx" class="w3-button w3-white">

                Total dossier :
                <b style="font-size:18px;color:red" class="total_dossier_select">00</b>
              </a>
              <div style="position:relative;left:10%">
                <dl>
                  <dt>SUPERVISEUR KARLIT</dt>
                  <dd style="text-align:center">
                    <table border='1' width="40%">
                      <tr>
                        <th>Nom</th>
                        <th>MATRICULE</th>
                        <th colspan="" style="text-align:center;color:red">Nb dossier</th>
                      </tr>
                      <th width="40%" id="sup_k">SUP ....</th>
                      <th id="mat_su"></th>
                      <th>
                          <b class="total_dossier_select">
                            ...
                          </b>
                        </th>
                      </table>
                    </dd>

                    <dt>DIRECTEUR DE MISSION KARLIT</dt>
                    <dd style="text-align:center">
                      <table border='1' width="40%" id="table_cde_list"></table>
                    </dd>

                    <dt>REFERENCE TECHNIQUE</dt>
                    <dd style="text-align:center">
                      <table border='1' width="40%" id="table_technique_list"></table>
                    </dd>
                    <hr>
                    <hr>
                    <dt>CDM KARLIT</dt>
                    <dd style="text-align:center">
                      <table border='1' width="40%" id="table_cdm_list"></table>
                    </dd>
                    <dt>ASSISTANT KARLIT</dt>
                    <dd style="text-align:center">
                      <table border='1' width="40%" id="table_ass_list"></table>
                    </dd>
                  </dl>
                </div>
              </div>
            </div>
            <style>
              .view {
                margin: auto;
                width: 600px;
              }
              
              .wrapper {
                position: relative;
                overflow: auto;
                border: 1px solid black;
                white-space: nowrap;
              }
              
              .sticky-col {
                position: -webkit-sticky;
                position: sticky;
                background-color: rgb(226, 216, 216);
              }
              
              .first-col {
                width: 100px;
                min-width: 100px;
                max-width: 100px;
                left: -20px;
              }
              
              .second-col {
                width: 150px;
                min-width: 150px;
                max-width: 150px;
                left: 100px;
              }              

              #parametragecd {
                overflow-y: auto;
              }
              #parametragecd thead th {
                position: sticky;
                top: -20px;
                background-color: #b9ceeb;
              }
              table {
                border-collapse: collapse;
                width: 100%;
              }
            </style>

            <div class="item" id="parametragecd" style="display: none; overflow:auto;width:100%;height: 600px">
              <div style="display:block">
                <table border="1" class="text-center">
                  <thead>
                    <tr>
                      <th style="background: #e6e2e2!important">
                        .
                      </th>
                      <th style="background: #e6e2e2!important" colspan="4">BILAN FAIT KARLIT</th>
                      <th style="background: #e9e3f3!important" colspan="4">REVISION</th>
                      <th style="background: #e9e3f3!important" colspan="4">VALIDATION EC</th>  
                      <th style="background: #e9e3f3!important" colspan="4">ENVOI CLIENT</th>
                      <th style="background: #e1d5f5!important" colspan="4">VALIDATION CLIENT</th>
                      <th style="background: #b0a1c9!important" colspan="4">VALIDATION MANAGER</th>
                      <th style="background: #e9e3f3!important" colspan="4">TÉLÉTRANSMISSION</th>
                      <th style="background: #e9e3f3!important" colspan="4">CONTROL EDI</th>
  
                    </tr>
                      <tr>
                      <th>.</th>
                      <th>BILAN À FAIRE</th>
                      <th>FAIT</th>
                      <th>RESTANT</th>
                      <th style="color: #dc3545;">% BILAN</th>
  
                      <th>REVISION À FAIRE</th>
                      <th>FAIT</th>
                      <th>RESTANT</th>
                      <th style="color: #dc3545;">% REVISION</th>
  
                      <th>VALIDAT° BILAN A FAIRE</th>
                      <th>FAIT</th>
                      <th>RESTANT</th>
                      <th style="color: #dc3545;">% VALIDAT°</th>
  
                      <th>ENVOI CLIENT</th>
                      <th>FAIT</th>
                      <th>RESTANT</th>
                      <th style="color: #dc3545;">% ENVOI CLIENT</th>
  
                      <th>VALIDAT° CLIENT A FAIRE</th>
                      <th>FAIT</th>
                      <th>RESTANT</th>
                      <th style="color: #dc3545;">% VALIDAT° CLIENT</th>
  
  
                      <th>VALIDAT° MANAGER À FAIRE</th>
                      <th>FAIT</th>
                      <th>RESTANT</th>
                      <th style="color: #dc3545;">% VALIDAT° MANAGER</th>
  
                      <th>TÉLÉTRANSMISSION À FAIRE</th>
                      <th>FAIT</th>
                      <th>RESTANT</th>
                      <th style="color: #dc3545;">% TÉLÉTRANSMISSION</th>
  
                      <th>CONTRÔLE EDI À FAIRE</th>
                      <th>FAIT</th>
                      <th>RESTANT</th>
                      <th style="color: #dc3545;">% VALIDAT° EDI</th>                    
                        </tr>
                        <tr>
                          <td style="background: #82cbe7!important">TOTAL Avancemant</td>
                          {% for row in 1..32 %}
                            <td class="rep_{{row}}">0</td>
                          {% endfor %}
                        </tr>
                        <tr>
                          <td style="background: #82cbe7!important">Synthese Volume Global</td>
                          {% for row in 1..8 %}
                            <td colspan="4" id="srow{{row}}">0</td>
                          {% endfor %}
                        </tr>
                  </thead>
                    <tbody id="" style="text-align:center"> 
                    </tbody>
                </table>
                <hr></hr>
                <hr></hr>
              </div>

              <table border="1" class="text-center" id="sm8">
                <thead>
                  <tr>
                    <th style="background: #c8e7bc!important;font-size:18px;font-weight: bold;">
                      PF 22 
                      CLÔTURE 31/12/2021
                    </th>
                    <th style="background: #e6e2e2!important" colspan="5">BILAN FAIT KARLIT</th>
                    <th style="background: #e9e3f3!important" colspan="4">REVISION</th>
                    <th style="background: #e9e3f3!important" colspan="4">VALIDATION EC</th>

                    <th style="background: #e9e3f3!important" colspan="4">ENVOI CLIENT</th>
                    <th style="background: #e9e3f3!important" colspan="4">VALIDATION CLIENT</th>
                    <th style="background: #e9e3f3!important" colspan="4">VALIDATION MANAGER</th>
                    <th style="background: #e9e3f3!important" colspan="4">TÉLÉTRANSMISSION</th>
                    <th style="background: #e9e3f3!important" colspan="4">CONTROL EDI</th>

                  </tr>
                    <tr class="sticky-col" >
                    <th style="background: #dd6975!important">MANAGER</th>
                    <th>EQUIPE</th>
                    <th>BILAN À FAIRE</th>
                    <th>FAIT</th>
                    <th>RESTANT</th>
                    <th style="color: #dc3545;">% BILAN</th>

                    <th>REVISION À FAIRE</th>
                    <th>FAIT</th>
                    <th>RESTANT</th>
                    <th style="color: #dc3545;">% REVISION</th>

                    <th>VALIDAT° BILAN A FAIRE</th>
                    <th>FAIT</th>
                    <th>RESTANT</th>
                    <th style="color: #dc3545;">% VALIDAT°</th>

                    <th>ENVOI CLIENT</th>
                    <th>FAIT</th>
                    <th>RESTANT</th>
                    <th style="color: #dc3545;">% ENVOI CLIENT</th>

                    <th>VALIDAT° CLIENT A FAIRE</th>
                    <th>FAIT</th>
                    <th>RESTANT</th>
                    <th style="color: #dc3545;">% VALIDAT° CLIENT</th>


                    <th>VALIDAT° MANAGER À FAIRE</th>
                    <th>FAIT</th>
                    <th>RESTANT</th>
                    <th style="color: #dc3545;">% VALIDAT° MANAGER</th>

                    <th>TÉLÉTRANSMISSION À FAIRE</th>
                    <th>FAIT</th>
                    <th>RESTANT</th>
                    <th style="color: #dc3545;">% TÉLÉTRANSMISSION</th>

                    <th>CONTRÔLE EDI À FAIRE</th>
                    <th>FAIT</th>
                    <th>RESTANT</th>
                    <th style="color: #dc3545;">% VALIDAT° EDI</th>                    
                    


                  </tr>
                </thead>
                  <tbody id="list_mana_bl_karlit" style="text-align:center"></tbody>
              </table>
            </div>

  <style>
    #theadevo tr th {
        background: #fff;
        position: sticky;
        box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
        top: 0;
    }

 

    #tbodevo tr th {
        /* Don't forget this, required for the stickiness */
        top: 1.5em;
    }
    #tbodevo td,#theadevo th{
      border: 1px solid #000;
      text-align:center

    }
    .col1.col2,.col3,.col4,.col5{
      font-size:15px;
      font-weight: bold;

    }
    
  </style>
         <div id="tbody_gevo" style="display:none">
              <table id="taevo" class="w3-table" width="100%">
              <thead id="theadevo">
              <tr>
                <th>Synthèse globale Karlit</th>	
                <th>Nombre de dossiers Actif</th>
                <th>Nombre de directeur de mission</th>
                <th>Nombre de CDM Karlit</th>
                <th>Nombre d'Assistant Karlit</th>
                <th>Nombre Reference technique</th>
              </tr>  
              </thead>
              <tbody id="tbodevo">
              {% set mois_array = ["Janvier","Fevrier","Mars","Avril","Mai","Juin","Juillet","Aout","Septembre","Octobre","Novembre","Decembre"] %}
              {% for index,mois in mois_array %}
                  <tr><td><b style="display:none" class="date_rch">{% if index < 9 %}0{{(index + 1)}}{% else %}{{(index + 1)}}{% endif %}</b><h5>Période {{mois}} <i class="anne_select"></i></h5></td>{% for col in 1..5 %}<td class='col{{col}}'></td>{% endfor %}</tr>
                  <tr><td class='entrer_user'><b style="display:none" class="date_rch">{% if index < 9 %}0{{(index + 1)}}{% else %}{{(index + 1)}}{% endif %}</b>Entrée</td>{% for col in 1..5 %}<td class='col{{col}}'></td>{% endfor %}</tr>
                  <tr><td class="sortie_user"><b style="display:none" class="date_rch">{% if index < 9 %}0{{(index + 1)}}{% else %}{{(index + 1)}}{% endif %}</b>Sortie</td>{% for col in 1..5 %}<td class='col{{col}}'></td>{% endfor %}</tr>
                  <tr><td class="variation_user">Variation</td>{% for col in 1..5 %}<td class='col{{col}}'></td>{% endfor %}</tr>
              {% endfor %}
              </tbody>   
            </table>
        </div>

            

          </div>

          <div class="w3-container">
            <div id="id01" class="w3-modal">
              <div class="w3-modal-content">
                <div class="w3-container">
                  <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>Page</th>
                        <th>Equipe</th>
                        <th>Dossier</th>
                        <th>Situation</th>
                        <th>Cloture</th>
                      </tr>
                    </thead>
                    <tbody id="reponsemytable"></tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          

          <!-- Trigger/Open the Modal -->

          <!-- The Modal -->
          <div class="w3-modal id02">
            <div class="w3-modal-content w3-animate-zoom w3-card-4">
              <header class="w3-container w3-light-blue">
                <span onclick="document.getElementsByClassName('id02')[0].style.display='none'" class="w3-button w3-display-topright">&times;</span>
                <h2 class="w3-text-white">ATTRIBUTION</h2>
                <center id="doss_select" class="w3-text-red">
                </center>
              </header>

              <div class="w3-container">
                <table class="w3-table w3-border border='1' w3-table-all w3-hoverable w3-striped">
                  <tr>
                    <th class="w3-center-align w3-text-blue">POSTE</th>
                    <th class="w3-center-align w3-text-blue" >NOM</th>
                    <th class="w3-center-align w3-text-blue">PRENOM ou MATRICULE</th>
                    <th class="w3-center-align w3-text-blue">MAIL</th>

                  </tr>
                  <tr>
                    <td class="w3-text-red">DIRECTEUR DE MISSION</td>
                    <td class="nom_dd"></td>
                    <td class="prenom_dd"></td>
                    <td class="mail_dd"></td>
                  </tr>
                  <tr>
                    <td class="w3-text-red">REFERENCE TECHNIQUE</td>
                    <td class="nom_dd"></td>
                    <td class="prenom_dd"></td>
                    <td class="mail_dd"></td>
                  </tr>
                  <tr>
                    <td class="w3-text-red">CDM</td>
                    <td class="nom_dd"></td>
                    <td class="prenom_dd"></td>
                    <td class="mail_dd"></td>
                  </tr>
                  <tr>
                    <td class="w3-text-red">ASSISTANT</td>
                    <td class="nom_dd"></td>
                    <td class="prenom_dd"></td>
                    <td class="mail_dd"></td>
                  </tr>
                  <tr>
                    <td class="w3-text-red">MANAGER FRANCE</td>
                    <td class="nom_dd"></td>
                    <td class="prenom_dd"></td>
                    <td class="mail_dd"></td>
                  </tr>

                  <tr>
                    <td class="w3-text-red">CDM FRANCE</td>
                    <td class="nom_dd"></td>
                    <td class="prenom_dd"></td>
                    <td class="mail_dd"></td>
                  </tr>

                </table>

              </div>
              <footer class="w3-container w3-light-blue">
                <p>@keobiz</p>
              </footer>
            </div>
          </div>

           <div class="w3-modal id03">
            <div class="w3-modal-content w3-animate-zoom w3-card-4">
              <header class="w3-container w3-light-blue">
                <span onclick="document.getElementsByClassName('id03')[0].style.display='none'" class="w3-button w3-display-topright">&times;</span>
                <h2 class="w3-text-white">DETAIL</h2>
                <center id="doss_select" class="w3-text-red">
                </center>
              </header>

              <div class="w3-container">
                <table class="w3-table w3-border border='1' w3-table-all w3-hoverable w3-striped">
                    <th>NOM</th>
                    <th>PRENOM</th>
                    <th>MATRICULE</th>
                    <th>ANCIENTER</th>
                    <th>NIVEAU ETP</th>    
                    <tbody id="sbod">
                    </tbody>            
                </table>               
              </div>
              <footer class="w3-container w3-light-blue">
                <p>@keobiz</p>
              </footer>
            </div>
          </div>

          <script type="text/javascript" src="./asset/bootstrap/js/jquery.min.js"></script>
          <script type="text/javascript" src="./asset/bootstrap/js/popper.min.js"></script>
          <script type="text/javascript" src="./asset/bootstrap/js/bootstrap.min.js"></script>
          <script type="text/javascript" src="./asset/bootstrap/js/addons/datatables.min.js"></script>
          <script type="text/javascript" src="./asset/bootstrap/js/addons/datatables-select.min.js"></script>
          <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
          <script type="text/javascript" src="./js/chart_script.js"></script>

          <script>
            $(document).ready(function () {
              $(".hamburger .hamburger__inner").click(function () {
                $(".wrapper").toggleClass("active")
              })

              $(".top_navbar .fas").click(function () {
                $(".profile_dd").toggleClass("active");
              });
              //$(".hamburger .hamburger__inner").click();
            })
          </script>
        </body>
      </html>
