{% include "base.html.twig" %}
<title>Suivi</title>
{% block stylesheets %}
  <link rel="stylesheet" href="./asset/bootstrap-5-admin/css/mdb.min.css"/>
  <!-- Custom styles -->
  <link rel="stylesheet" href="./asset/bootstrap-5-admin/css/admin.css"/>
  <link rel="stylesheet" href="./asset/checkbox/dist/jquery.customselect.css">

  <style>
  
    th {
      /* Important */
      background-color: #ececec;
      color: #586896;
      position: sticky;
      z-index: 100;
      top: 0;
    }
    .save_list:hover,
    .tr_list_general:hover {
      background-color: #dedbe4;
      cursor: default;
    }
    .save_list:active {
      background-color: red;
    }

    .in_visible {
      display: none;
    }
    input {
      text-align: center;
      line-height: 150%;
    }

    input[type="date"]::-webkit-clear-button {
      display: none;
      font-size: 12px;
    }

    /* Removes the spin button */
    input[type="date"]::-webkit-inner-spin-button {
      display: none;
      font-size: 12px;
    }

    /* Always display the drop down caret */
    input[type="date"]::-webkit-calendar-picker-indicator {
      color: #2c3e50;
    }

    /* A few custom styles for date inputs */

    input[type="text"],
    td {
      font-size: 11.5px;
      
    }
   input[type="date"] {
      appearance: none;
      -webkit-appearance: none;
      color: #1f4584;
      font-family: "Helvetica", arial, sans-serif;

      border: 1px solid #ecf0f1;
      background: #ecf0f1;
      padding: 5px;
      display: inline-block !important;
      visibility: visible !important;
      text-align:center

    }

 input[type="text"],input[type="number"],select {
   border: 1px solid #cccccc; 
   border-radius: 3px; 
   -webkit-border-radius: 3px; 
   -moz-border-radius: 3px; 
   -khtml-border-radius: 3px; 
   background: #ffffff !important; 
   outline: none;
   height: 24px; 
   width: 120px;
   color: #8a4a4a; 
   font-size: 11px; 
   font-family: Tahoma;
   text-align:center;
}

input[type="text"]:focus,input[type="number"] :focus{
   border: 1px solid #6fa5ff; 
}

    .table-bordered thead td,
    .table-bordered thead th,
    body {
      font-size:11.8px;

    }

main{
	 background:#ecfeff;
}
html{
   style="overflow:hidden"
}
/* io no manao figer voler datatable */
body {margin:0;}
.detail-table-segment {
  max-width: 100%;
  overflow-x: scroll;
  margin-left: 30px;
  margin-right: 30px;
  padding-right: 0px !important;
}

.dataTable {
  clear: both;
  margin-bottom: 6px !important;
  max-width: none !important;
  border-collapse: collapse !important;
}
.dataTable tbody td {
  font-size: 13px;
  position: relative;
  border: 1px solid #e2e2e2;
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
}
table {
  width: auto !important; /* retirer la largeur   ou revoir le poids du selecteur */
}
tbody tr :nth-child(2),
tbody tr :nth-child(2) {
  position: sticky !important; /* ou revoir le poids du selecteur */
  left: 0em;
  z-index: 1;
  background: white;
}
tbody tr :nth-child(0) {
  left: 6em;
}

  </style>
{% endblock %}

{% block body %}
  <!--Main Navigation-->
  <header>

    <!-- Sidebar -->

    <!-- Navbar -->
    <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-info fixed-top">
      <!-- Container wrapper -->
      <div class="container-fluid">
        <!-- Toggle button -->
        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-bars"></i>
        </button>

        <!-- Brand -->
        <a class="navbar-brand" href="#" style="color:white">
          <i class="fas fa-house-damage fa-lg"></i>
          &nbsp;&nbsp;&nbsp;SUIVI TVA
        </a>
        <!-- Search form -->
        <!-- Right links -->
        <ul class="navbar-nav ms-auto d-flex flex-row">
          <!-- Notification dropdown -->
          <li class="nav-item dropdown">
            <a class="nav-link me-3 me-lg-0 dropdown-toggle hidden-arrow" href="#" id="navbarDropdownMenuLink" style="color:white" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
              <i class="fas fa-bell"></i>
              &nbsp;<span class="badge rounded-pill badge-notification bg-primary">Menu</span>
            </a>
            <ul class="dropdown-menu dropdown-menu-end " style="background-color:rgb(222, 219, 228)" aria-labelledby="navbarDropdownMenuLink">
              <li>
                <a class="dropdown-item" href="?suivi_karlit=declaration_periodique">
                  <i class="fab fa-audible"></i>
                  DECLARATION PERIODIQUE</a>
              </li>
                    <!-- <a class="dropdown-item" href="?suivi_karlit=situtation_tva">
                  <i class="fab fa-bandcamp"></i>
                  SITUATION TVA</a>
              </li>-->
              <li>
                <a class="dropdown-item" href="?suivi_karlit=situtation_bilan">
                  <i class="fas fa-align-left"></i>
                  SITUATION BILAN</a>
              </li>
              <li>
                <a class="dropdown-item" href="?suivi_karlit=statistique">
                  <i class="fab fa-accusoft"></i>
                  STATISTIQUE</a>
              </li>
   
            </ul>
          </li>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <!-- Avatar -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle hidden-arrow d-flex align-items-center" href="#" style="color:white" id="navbarDropdownMenuLink" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
              <img src="./asset/images/user.jpg" class="rounded-circle" height="22" alt="" loading="lazy"/>
              <b id="user_fait" style="display:none">
                {{utilisateur[0].id}}
              </b>
              <b id="user_post" style="display:none">
                {{utilisateur[0].post_id}}
              </b>
              &nbsp; <b id="nom_modif"> {{utilisateur[0].nom}} </b>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" style="background-color:rgb(222, 219, 228)" aria-labelledby="navbarDropdownMenuLink">
              <li data-toggle="modal" data-target="#profile_s">
                <a class="dropdown-item" href="#">
                  <i class="fas fa-user-edit"></i>
                  profile</a>
              </li>
               <li>
                <a class="dropdown-item" href="?suivi_karlit=suivi">Suivi
                  <i class="fas fa-book-open"></i>
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="/SuiviKARLIT">Deconnexion
                  <i class="fas fa-ban"></i>
                </a>
              </li>

            </ul>
          </li>
               <li  
                style="color:red" id="click_tiana_"><a class="dropdown-item" style="color:#840dce" href="./asset/SUIVIDOSS.pdf">
                &nbsp;<i class="fas fa-question-circle"></i> &nbsp;AIDE
              </a></li>	
        </ul>
      </div>
      <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->
  </header>
  <!--Main Navigation-->

  <!--Main layout-->

  <script src="https://cdn.datatables.net/fixedheader/3.1.8/js/dataTables.fixedHeader.min.js"></script>
  <style>
    thead input {
      width: 100%;
    }
    td>.truncate{
      width: auto;
      min-width: 0;
      max-width: 200px;
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

     .disabled_as{
      cursor:no-drop !important;pointer-events: none;
      color:#fff!important;
      border-color: #a0a0a0!important;
      background-color: #a0a0a0!important;
     }


  </style>
</head>
<body>
  <main style="margin-top: 70px">
    <div class="container text-center">
      <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm">

         <table width="100%">
              <td>Equipe
              </td>
              <td>
                <select id="select_equip" >
                <option value=""></option>
                  {#% for e in sonEquipe %}
                    <option value="{{e.id}}">{{e.code}}</option>
                  {% endfor % #}

                {% set code_equipe = sonEquipe[0].code | split('#')  %}
                {% set id_equipe = sonEquipe[0].id | split('#')  %}

                {#% for s in 0.. (code_equipe | length) - 2 %#}
                {% for s in range((code_equipe | length) - 2, 0) %}
                  <option value= {{id_equipe[s]}}>{{code_equipe[s]}}</option>
                {% endfor %}
                </select>
              </td>
              <td>
                Regime Tva
              </td>
              <td>
                <select id="et_rt" >
                <option value=""></option>
                 <option value="ET/RT">ET/RT</option>
                 <option value="RM/EM">RM/EM</option>
                </select>
              </td>
              <td>
                mois
              </td>
              <td>
              <div id="optionmois"></div>
              </td>              
              <td>
                exo
              </td>
              <td>
                <select id="select_annee" >
                 <option value=""></option>
                  {% for i in 2010..2025 %}
                    <option value="{{i}}">{{i}}</option>
                  {% endfor %}
                </select>
              </td>
    
              <td>
              </td>
            </table>
                           <button class="btn btn-primary" id="btn-lancer">Valider</button>
        </div>
        <div class="col-sm-3"></div>
      </div>
    </div>
    <div class="text-right" id="ds_export" style="margin-right:2%">
    &nbsp;<a href="#" class="datatablesituation text-left" onclick="tableToExcel('table_export_virtuel', 'Suivie')">
      <i class="fas fa-file-excel">
       Export Excel</i>
    </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</div>
  </main>
  <div class="text-center" id="loading" style="display:none"><img src="./asset/images/load.gif"></div>
  <div id="datatable_suivi_tva" style="margin-left:2%;margin-right:2%;"></div>

  <div id="sit_dossier" style="display:none">
    <select class="stsearch">
      {% for sit_dossier in situation_dossier %}
        <option value="{{sit_dossier.nom}}">{{sit_dossier.nom}}</option>
      {% endfor %}
    </select>
  </div>

  <div id="etat_tva_s" style="display:none">
    <select class="etat_tva_f">
      {% for etat_tva in etat_tvas %}
        <option value="{{etat_tva.nom}}">{{etat_tva.nom}}</option>
      {% endfor %}
    </select>
  </div>

  <div id="regime_impos1" style="display:none">
    <select class="stsearch">
      {% for r1 in regime_impos1 %}
        <option value="{{r1.nom}}">{{r1.nom}}</option>
      {% endfor %}
    </select>
  </div>

  <div id="regime_impos2" style="display:none">
    <select class="stsearch">
      {% for r2 in regime_impos2 %}
        <option value="{{r2.nom}}">{{r2.nom}}</option>
      {% endfor %}
    </select>
  </div>

  <div id="dp_coala" style="display:none">
    <select class="stsearch">
      {% for dpcoala in dp_coala %}
        <option value="{{dpcoala.nom}}">{{dpcoala.nom}}</option>
      {% endfor %}
    </select>
  </div>

  
   <div id="etat_tva" style="display:none">
      {% for etattva in etat_tva %}
        <option value="{{etattva.nom}}">{{etattva.nom}}</option>
      {% endfor %}
  </div>

    
   <div id="ok_ar" style="display:none">
        <option value="OK">OK</option>
        <option value="A RELANCER">A RELANCER</option>
  </div>

  <div id="etat_bilan" style="display:none">
    <select class="stsearch">
      {% for etbl in etat_bilan %}
        <option value="{{etbl.nom}}">{{etbl.nom}}</option>
      {% endfor %}
    </select>
  </div>

  
  </html>
  {% include "modal.html.twig" %}
</button>
</div>
<div style="display:none" id="tablvirtuel_suivie"></div>
  <nav class="navbar navbar-expand-lg navbar-light bg-info fixed-bottom" style="height:1%">
      <div class="container-fluid">
       @_keobiz.fr_ hery_info.2021
      </div>
    </nav>
{% block javascripts %}
  <script>
     function aide_suivie() {
      windowObjectReference = window.open(
    "./model/aide_suivie.html", "_blank", "toolbar=no,location=no,menubar=no,personalbar=no,scrollbars=yes,resizable=yes,top=500,left=500,width=400,height=400");
   }
  </script>

<script type="text/javascript" src="./asset/bootstrap-5-admin/js/mdb.min.js"></script>
<script type="text/javascript" src="./js/suivi_tva.js"></script>
<script src="./asset/checkbox/dist/jquery.customselect.js"></script>
<script src="./admin/js/excel.js"></script>
<script>
  //Defaults
  jQuery('#single_equipe,#anne_equipe').customselect({
    labelPosition: 'after', // after | before | wrap
    style: 'list', // list | none
    dropdown: false, // true | false
    classList: '', // string
    targetTypes: [
      'select-multiple', 'select-one'
    ], // select-multiple | select-one
    parentNode: null, // null | selector
    observe: true, // true | false
    selectedLimit: 1080, // number
    selectedDelimiter: ' | ', // string
    emptyText: 'Nothing selected', // string
    selectedText: 'selection', // string
    allSelectedText: 'Tous selectionnée', // string
    search: true
  });
</script>

{% endblock %}

{% endblock %}

</html>